.flexContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.WholeBurgerContainer {
  display: flex;
  margin-top: 3rem;
  width: 100%;
}

.BurgerFlex {
  display: flex;
  flex: 1;
  flex-direction: column;
}
